{% extends "my_site/base.html" %}
{% load custom_filters static %}
{% block title %}Enter new password{% endblock %}

{% block content %}

    {% if validlink %}

        {% if form.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div id="form_errors">
                    {% for key, value in form.errors.items %}
                        <strong>{{ value }}</strong>
                    {% endfor %}
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <div class="form-content my-3 p-3">
            <div class="container">
                <div class="row justify-content-center" style="margin-top: 11%">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                            <div class="card-header justify-content-center">
                                <h3 class="font-weight-light my-4 text-center">Password reset</h3>
                            </div>
                            <div class="card-body">
                                <div class="form-content">
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-row" style="">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    New password:
                                                    {{ form.new_password1|add_class:"field-control" }}
                                                    <br>
                                                    Confirm password:
                                                    {{ form.new_password2|add_class:"field-control" }}
                                                </div>
                                            </div>
                                            <br><br>
                                        </div>
                                        <button type="submit" class="btn btn-lg"
                                                style="background-color: #ff4242;color: #ffffff;display: flex;justify-content: center;margin: auto;">
                                            send me instructions
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    {% else %}

        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password
            reset.</p>

    {% endif %}
{% endblock %}