{% load static %}
<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}My Site{% endblock %}</title>
    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/signup.css' %}">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% endblock %}
</head>
<body>
{% include 'my_site/navbar.html' %}

<div class="container" style="margin-top: 2%">

    {% block content %}{% endblock %}

    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible shadow fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message | safe }}
        </div>
    {% endfor %}

</div>

{% block scripts %}{% endblock %}
</body>
</html>
