{% for message in messages %}
    <div class="container-fluid p-0" style="display: contents;">
        <div class="alert {{ message.tags }} alert-dismissible fade show" id="message-django" role="alert"
             style="position: absolute;margin: 130px 400px;z-index: 1">

            {{ message }}
        </div>
    </div>
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('#message-django').fadeOut('slow');
            }, 1300);
        });
    </script>
{% endfor %}