{% extends 'my_site/base.html' %}
{% load static custom_filters %}
{% block content %}
    <div class="service-details" style="margin-top: 100px;    height: 700px;">
        <h1 style="text-align: left">{{ service.name }}</h1>
        <p style="text-align: left;
    background: lightgray;
    border-radius: 10px;
    padding: 10px;">{{ service.description }}</p>
        <form method="post" id="my_form" style="text-align: center;
}">
            {% csrf_token %}
            <div id="date-container">
                <label for="appointment_date_label" style="margin-top: 30px;margin-bottom: 0px"></label>
                {{ date_form.appointment_date }}
                <div id="available-times" style="margin-top: 20px"></div>
            </div>
            <br>
            <button type="submit" class="btn btn-lg"
                    style="background-color: #ff4242;color: #ffffff;margin-bottom: 50px" value="Book Appointment">Book
                Appointment
            </button>
            <input type="hidden" id="service_id" value="{{ service.id }}">
        </form>
    </div>


    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var availableTimesDiv = document.getElementById("available-times");
        // Check if the div has inner fields
        if (availableTimesDiv.innerHTML.trim() === "") {
            console.log("Please select another date.");
        } else {
            console.log("Please select an appointment time.");
        }

        // Add an event listener to the form submission
        document.getElementById("my_form").addEventListener("submit", function (event) {
            // Prevent the form from submitting if a time has not been selected
            if (!document.querySelector('input[name="appointment_time"]:checked')) {
                event.preventDefault(); // Stop the form submission
                alert("Please select an appointment time.");
                return false;
            }
            // Allow the form to submit if a time has been selected
            return true;
        });

        var dateInput = document.getElementById('id_appointment_date');
        var serviceId = document.getElementById('service_id');
        dateInput.addEventListener('change', function () {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '{% url "get_available_times"%}');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));  // Include the CSRF token in the request headers
            xhr.onload = function () {
                if (xhr.status === 200) {
                    console.log(xhr.responseText);
                    var availableTimes = JSON.parse(xhr.responseText);
                    var html = '';
                    for (var i = 0; i < availableTimes.length; i++) {
                        html += '<label><input type="radio" name="appointment_time" value="' + availableTimes[i][0] + '">' + availableTimes[i][1] + '</label><br>';
                    }
                    availableTimesDiv.innerHTML = html;
                } else {
                    console.error('Request failed.  Returned status of ' + xhr.status);
                }
            };
            xhr.send('appointment_date=' + encodeURIComponent(this.value) + '&service_id=' + encodeURIComponent(serviceId.value));
        });


    </script>


{% endblock %}
